div {
    padding-top: 20px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 10px;
}
